@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Source+Sans+3:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* HEADING AND LOGO */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
  }

h1, h2 {
    font-family: 'Source Sans 3',  sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo-image {
    float: left;
    width: 50px;
    padding-right: 10px;
    line-height: 80px;
    margin-left: 20px;
    padding-top: 10px;
} 

#logo {
    float: left;
    font-size: 280%;
}
nav ul li a {
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 30px;
    
}

/* NAVIGATION BAR LINKS */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    margin-right: 25px;
    

}

#menu, #logo, #logo-image {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu li a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #957c21;
    color: #957c21;
}

.active {
    border-top: 1px solid #957c21;
    border-bottom: 1px solid #957c21;
    color: #957c21;
}

ul {
    float: right;
}

/* HERO CONTENT */

#hero-outer {
    min-width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-video {
 justify-content: center;
 height: 91vh;
 width: 100%;
 display: flex;
 align-items: center;
 position: relative;
 object-fit: cover;
 overflow: hidden;
 
 animation-name: zoom-in;
 animation-duration:  5s ;
 animation-fill-mode: ease;
}

  @keyframes zoom-in {
    from{
      transform: scale(1);
    }
    to{
      transform: scale(1.5);
    }
  }

  .text-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    flex-wrap: wrap;
  
    position: absolute;
    box-sizing: border-box;
    
    top: 35%;
    left: 25%;
    min-width: 50%;
    padding: 10px 0;
    border-radius: 4px;
    margin: 0 10px 10px;
    
    color: #fafafa;
    background-color: rgba(10, 9, 4, 0.2);
    font-size: 130%;
    font-family: 'Source Sans 3',  sans-serif;
  }

  .header-content {
    color: #fafafa;
  }

  .text-content button{
    min-width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #957c21;
    background: transparent;
    cursor: pointer;
    color: #fafafa;
  }
   
  .text-content button:hover {
    background-color: rgba(149, 124, 33, 0.8);
    
  }

/* CLUB ETHOS SECTION */
#club-ethos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
}
#welcome {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 80px;
    font-size: 220%;
}
#ethos-wrapper {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    flex-wrap: wrap;
  }
#ethos-img {
    background: url(../images/ethos-image.png);
    background-position: right;
    background-size: contain; 
    background-repeat: no-repeat; 
    min-height: 480px;
    min-width: 540px;
    margin: 30px;
}

.bg-color {

    

    padding: 15px;
    background-color: rgba(10, 9, 4, 0.3);
    max-height: 480px;
    max-width: 540px;
    border-radius: 20px;
  }
  
/* #services {
    display: flex;
  } */
  
.service {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto 0;
  }

.service h3 {
    text-shadow: 0px 2px 4px rgba(167, 142, 51, 0.3);
    text-align: center;
    line-height: 45px;
    color: #252525;
}

.service p {
    text-align: center;
} 

/* TESTIMONIAL SECTION */
#testimonial {
    height: 100%;
    background: linear-gradient(to bottom, #ffffff 30%, #ffcc99 73%);
    margin: 0 auto;
    margin-top: 100px;
}

.testimonial-container > h1 ,h3 , p {
    text-align: center;
}

.testimonial-container h2 {
   margin: 50px 0;
   font-size: 220%;
   text-align: center;
}

.testimonial-container p {
    display: flex;
    flex-direction: column;
    /* margin: 10px 50x 20px 20px; */
    padding: 10px 10px 5px 10px;
    font-size: 120%;
}
 

/* REVIEW LAYOUT */
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
    text-align: center;
 }

 .review {
    width: 30%;
    text-align: center;
 }

 .review img {
    height: 360px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    box-shadow: 10px 20px 25px rgba(167, 142, 51, 0.2);
    opacity: 0.75;
 }

 .review img:hover {
    opacity: 1;
 }

 .review p {
    font-size: 15px;
 }

 .review h4 {
    font-size: 18px;
 }

 .review p i {
    font-size: 10px;
    color: #957c21;
 }

 /* SIGN UP SECTION */
 .register { 
   display: flex;
    flex-wrap: wrap;  
    align-items: center; 
    justify-content: space-evenly;
    background: url(../images/woman-using-laptop-and-drinking-coffee-near-dog.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 900px;   
}

.first-form {
    margin: 120px 0;
    color: #fff;
    background-color: rgba(10, 9, 4, 0.5);
    width: 20%;
    top: 5%;
    left: 15%;
    padding: 30px;
    height: 60%;
}
.first-form h1 {
    color: #fff;
}
.first-form  p {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
    font-size: 15px;
}

.second-form {
    margin: 150px 0;
    color: #fff;
    background-color: rgba(10, 9, 4, 0.5);
    width: 25%;
    top: 12px;
    left: 50%;
    padding: 30px;
    height: 60%;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.input-container {
    height: 60px;
    background-color: transparent;
    color: #fff;
    width: 100%;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f7e7ad;
 }
  
.second-form button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 2px 0;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #957c21;
    background: transparent;
    cursor: pointer;
    color: #fafafa;
  }
   
  .second-form button:hover {
    background-color: rgba(149, 124, 33, 0.8);
  }

  /* THANK YOU PAGE */

  .container {
    background: url(../images/woman-using-laptop-and-drinking-coffee-near-dog.jpg);
    
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .thank-container {
    
    justify-content: center;
    margin: auto 0;
    color: #fff;
    background-color: rgba(10, 9, 4, 0.5);
    max-width: 710px;
    top: 15%;
    left: 30%;
    width: 50%;
    padding: 30px;
  }

  .thank-container h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
  }

  .thank-container p {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 15px;
  }

  /* FOOTER SECTION */

.footer {
    padding: 40px 0;
    background-color:rgb(255, 255, 255);
    display: flex;
    height: 150px;
    flex-direction: column;
 }

 .social-networks {
    text-align: center;
    padding-bottom: 25px;
 }
 
 .social-networks a {
    font-size: 20px;
    color: rgba(0, 0, 30, 2);
    line-height: 40px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 30, 2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 10px;
    opacity: 0.65;
 }

 .social-networks a:hover {
    opacity: 0.9;
    color: rgba(149, 124, 33, 0.8);
    border: rgba(149, 124, 33, 0.8);

 }

 .list {
    text-align: center;
    list-style-type: none;
 }

 .list a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    opacity: 0.65;
 }

 .list a:hover {
    opacity: 0.9;
    color: rgba(149, 124, 33, 0.8);

 }

 .list li {
    display: inline-block;
    margin: 0 15px;
    padding-bottom: 15px;
 }

 .copyright {
    font-size: 14px;
    color: #aaa;
 }

 .copyright i {
    font-size: 12px;
   
 }

  /* BREAKPOINTS*/

  @media screen and (max-width: 1655px) {
    .review img {
    max-height: 320px;
    }
 }

 @media screen and (max-width: 1465px) {
    #ethos-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .testimonial-container h2 {
        margin: 25px 0; 
    }
    #testimonial-container p {
        padding: 5px 50px 5px 50px;
    }
}

  @media screen and (max-width: 1400px) {
    .text-content {
        justify-content: center;
        text-align: center;
        font-size: 110%;
        max-width: 60%;
        
    }
    .review img {
        max-height: 300px;
    }
 }

 @media screen and (max-width: 1260px) {
    .text-content {
        max-width: 60%;
    }
    .review img {
        height: 275px;
    }
    .first-form {
      
    }
    .second-form {
       
    }
}

 @media screen and (max-width: 1205px){ 
    .text-content {
         min-width: 50%;
     }
    }

@media screen and (max-width: 1170px) {
    #ethos-wrapper {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }
    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
       
        
    }
    .review {
            min-width: 50%;
        }
    }

@media screen and (max-width: 980px) {
     #menu {
      clear: left;
      float: left;
      line-height: 20px;
      margin-left: 5px;
      margin-bottom: 20px;
    }
    #menu li {
        margin-right: 5px;
    }
    .text-content {
        min-width: 60%;
        font-size: 90%;
        left: 20%;
    }
    .text-content button {
        min-width: 140px;
    }
    #welcome {
        margin: 50px;
        font-size: 150%;
    }
    .testimonial-container h2 {
        font-size: 150%;
        margin: 0;
    }
    .testimonial-container p {
        font-size: 100%;
    }
    
    
}
@media screen and (max-width: 650px) {
    .text-content {
        max-width: 60%;
    }
    .text-content button {
        min-width: 120px;
    }
    .review {
        min-width: 60%;
    }
}


@media screen and (max-width: 540px) {


    .bg-color {
        max-height: 100%;
        max-width: 450px;
    }
}
  
/* FROM 320PX TO 540PX THERE IS A BACKGROUND LAYOUT SHRINK  */


@media screen and (max-width: 320px) {
    #logo-image {
        width: 45px;
    }
    #logo {
    font-size: 170%;
   }
   #menu li a {
    display: flex;
    font-size: 60%;
    margin-left: 12px;
   }
   .hero-video {

   }
   .text-content {
    max-width: 80%;
    font-size: 60%;
    left: 10%;
   }
   .text-content button {
    font-size: 100%;
   }
   #ethos-wrapper {
    justify-content: center;
    align-items: center;
    /* not centering my content */

   }
   #ethos-img {
    min-height: 300px;
    min-width: 300px;
   }
   .review {
    min-width: 100%;
}
}


