@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Source+Sans+3:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* heading and logo */

h1, h2 {
    font-family: 'Source Sans 3',  sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo-image {
    float: left;
    width: 50px;
    padding-right: 10px;
    line-height: 80px;
    margin-left: 20px;
    padding-top: 10px;
} 

#logo {
    float: left;
    font-size: 280%;
}
nav ul li a {
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 30px;
    
}

/* navigation bar links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    margin-right: 25px;
    

}

#menu, #logo, #logo-image {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu li a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #957c21;
    color: #957c21;
}

.active {
    border-top: 1px solid #957c21;
    border-bottom: 1px solid #957c21;
    color: #957c21;

}

ul {
    float: right;
}

/* HERO CONTENT */

#hero-outer {
  
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-video {
 justify-content: center;
 height: 91vh;
 width: 100%;
 display: flex;
 align-items: center;
 position: relative;
 object-fit: cover;
 overflow: hidden;
 
 animation-name: zoom-in;
 animation-duration:  5s ;
 animation-fill-mode: ease;
}


  @keyframes zoom-in {
    from{
      transform: scale(1);
    }
    to{
      transform: scale(1.5);
    }
  }

  /* CORRECT the text is at the back of the video, position of its parent is relative and the content is absolute, still not working as it should */
  .text-content {
    font-size: 130%;
    font-family: 'Source Sans 3',  sans-serif;
    letter-spacing: 2px;
    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    bottom: 30px;
    right: 150px;

    position: absolute;
    margin: 0 auto;
  }

  /* CORRECT not working the style of my button */
  .text-content button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #957c21;
    background: transparent;
    cursor: pointer;
  }

/* club ethos */
#club-ethos{
    height: 680px;
   
}

#left-ethos {
    padding-top: 30px;
    width: 33%;
    float: left;
    
}


#right-ethos {
    padding-top: 30px;
    width: 33%;
    float: right;
    
}

#center-ethos {
   width: 33%;
   margin: 0 auto;

}

.left-ethos-heading {
    width: 60%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
}

.left-ethos-heading h3 {
    text-align: left;
}

.left-ethos-heading p {
    text-align: left;
}


.right-ethos-heading {
    width: 60%;
    float: left;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
}

.right-ethos-heading h3 {
    text-align: right;
}

.right-ethos-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 50px 0;
    font-size: 250%;
}
.center-ethos-heading {
    width: 50%;
    float: center;
    align-content: center;
    line-height: 25px;
    clear: both;
    /* margin-top: 10px; */
    /* margin-left: 10px; */
}
.center-ethos-heading h3 {
    text-align: center;
}
.center-ethos-heading p {
    text-align: center;
}

#center-ethos-img {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 0 auto;
    float: center;
    background: url('../images/ethos-image.png') no-repeat center center;
}

.center-ethos-heading {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    margin-top: 15px;
}

/* Testimonial section */

#testimonial {
    height: 800px;
    background: linear-gradient(to bottom, #ffffff 30%, #ffcc99 73%);
    margin: 0 auto;

    
}

.testimonial-container > h1 ,h3 , p {
    text-align: center;
    
   /* STYLE THE PARAGRAPH BETTER */
}

.testimonial-container h1 {
   margin: 50px 0;
   
}
.testimonial-container p {
    margin: 10px 50x 20px 20px;
    padding: 10px 5px 25px 10px;
}
 

/* Review layout */
 .cards div {
    width: 30%;
    height: 300px;
    float: left;
    box-sizing: border-box;
    padding: 50px 0 0 100px;
    text-align: center;
    transition: 5s forward;
 }

 .review img {
    height: 300px;
    width: 450px;
    position: relative;
    border-radius: 10px;
    box-shadow: 10px 20px 25px rgba(167, 142, 51, 0.2) ;
 }

 .review p {
    font-size: 15px;
 }

 .review h4 {
    font-size: 20px;
    margin-bottom: 10px;
    /* the name is too low the marginbottom isnt working */
 }

 .review i {
    font-size: 10px;
 }

 .review:hover{
    transform: scale(1.1);
    z-index: 100;
 }

 /* Footer section */

 footer {
    height: 150px;

}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;

}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

 /* responsive design */

 @media (max-width: 768px) {
      .cards{
        width: 100%;
        flex-direction: column;
        flex-direction: wrap;
      }
      .review{
        margin: 40px 0;

      }
    
 }

 








/* NOTES TO DO */

/* NAV BAR TO STICK UP */

/* CREATE A BUTTON ON A SIDE OF THE BROWSER TO GO UP AT THE BEGINNING OF THE WEBSITE */

/* MAKE THE WEBSITE RESPONSIVE */